repos:
- repo: https://github.com/KashmalCh/GitHubPractice
  rev: 0.13.1
  hooks:
    - id: sqlfluff-fix
      name: sqlfluff-fix
      # Needs to use "--force" to disable confirmation
      # By default all the rules are applied
      entry: sqlfluff fix --force
      language: python
      description: 'Fixes sql lint errors with `SQLFluff`'
      types: [sql]
      require_serial: true
      additional_dependencies: []
